@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.searchBtn {
	border-color: $color-primary;
	background-color: $color-secondary;
	border: solid;
	color: $color-primary;
	border-width: 2px;
}

.deleteBtn {
	background-color: red;
	color: $color-primary;
}
