@import '../../styles/variables';
@import '../../styles/mixins';

.wrapper {
	@include flex-column;
	@include center-around;
}

.serviceProvider {
  display: flex;
  flex-direction: row;
  max-height: 50px;
}

.serviceProvider img {
  max-height: 50px;
  max-width: 50px;
}